---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

## Previous Courses
|***Fall B term 2024*** | [MA 7021 - Matrices and Linear Algebra I] | Worcester Polytechnic Institute
|***Fall A term 2024*** | [MA 1022 - Calculus II] | Worcester Polytechnic Institute
|***Spring C term 2024*** | [MA 1023 - Calculus III (two courses)] | Worcester Polytechnic Institute
|***Fall B term 2023*** | [MA 1021 - Calculus II] | Worcester Polytechnic Institute
|***Fall A term 2023*** | [MA 1021 - Calculus II] | Worcester Polytechnic Institute
